body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100vw;
  }

  h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
  }

  ul,li {
  padding: 0;
  margin: 0;
  }

a {
  text-decoration: inherit;
  color: inherit;
}

.a:hover {
  color: #131200;
}

.header {
  width: 100%;
  /* position: absolute; */
  position:relative;
  justify-content:space-between;
  align-items:center;
  display: flex;
  height: 100px;
  padding: 15px;
  background-color: #84b766;
  font-family: Arial, Helvetica, sans-serif;
  color: #131200;
}

.header-container {
  width: 50%;
  opacity: 100%;
  /* position: absolute; */
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  display: flex;
  margin-right: 10%;
}

.navbar {
  font-size: 3ch;
  color: #534c5c;
}

.logout_btn_container{
  width: 20%;
  /* position: absolute; */
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  display: flex;
  width: 140px;
  height: 30px;
  font-size: 20px;
  background-color:#eae9ed;
  border-radius: 3px;
}

.body {
  padding: 15px;
  position: absolute;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 15px;
}
.main_content{
  position: absolute;
  margin-top: 123px;
  padding-top: 20px;
}

.table {
  border: 1px solid #cbc7d1;
  margin: 5px;
  width: 95%;
  position: absolute;
  font-size: 17px;
  flex-direction: column;
  margin-top: 30px;
}

.table-header {
  margin: 5px;
  background-color: #f1c57e;
  text-align: center;
  height: 20px;
  width: 33%;
  font-size: 18px;
  position: absolute;
}

.table-row-1 {
  border-right: 1px solid #cbc7d1;
  border-top: 1px solid #cbc7d1;
  margin-right: 5px;
  margin-bottom: 5px;
}

.table-row-2 {
  border-top: 1px solid #cbc7d1;
  margin-right: 5px;
  margin-bottom: 5px;
}

.details{
  border-right: 1px solid #cbc7d1;
  border-top: 1px solid #cbc7d1;
  width: 50%;
}

.update {
  margin-right: 5%;
  color: #6fa64e;
}

.delete {
  margin-right: 10%;
  color: #d9594c;
  width: 100%;
}

.btn {
  background-color:#eae9ed;
  border-radius: 3px;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.link {
  text-decoration: underline;
}

.create_btn{
  width: 160px;
  height: 35px;
  font-size: 22px;
  background-color:#eae9ed;
  border-radius: 3px;
  margin: 5px;
  text-align: center;
}

/* form styling */
.form{
  background: color #131200;
}

