<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Delights</title>
  <!-- {% load static %} -->
  {% block head %}
    <!-- <link rel="stylesheet" href="{% static 'inventory/style.css' %}"> -->
  {% endblock %}
</head>
<body>
  <div class="header">
    <div class="header-container">
      <h1><a href="{% url 'home' %}">Django Delights</a></h1>
      <div class="navbar">
      <a href="{% url 'ingredientlist'%}">Ingredients</a>
      <a href="{% url 'menuitemlist'%}">Menu Items</a>
      <a href="{% url 'purchaselist'%}">Purchases</a>
      <a href="{% url 'showprofit' %}">Balance</a>
    </div>
    </div>
    {% if user.username %}
      <div class="logout_btn btn"><a href="{% url 'logout' %}">Logout</a></div>
    {% endif %}
  </div>


  {% block content %}
  {% endblock %}
</body>
</html>