{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<div class="body">
  <h2>Ingredients in the inventory:</h2>
  <table class="table">
    <thead class="table-header">
      <tr class="table-header">
        <th>Name</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <body">
      <!-- {% for ingredient in object_list %} -->
        <tr>
          <td class="table-row-1"><a href="{% url 'ingredientdetails' ingredient.id %}">{{ ingredient.name | title }}</a></td>
          <td class="table-row-1">{{ ingredient.quantity}} </td>
          <td class="table-row-2">
            <a href="{% url 'ingredientupdate' ingredient.id %}" class="update btn">Update</a>
            <a href="{% url 'ingredientdelete' ingredient.id %}" class="delete btn">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </body>
  </table>
</div>
{% endblock %}