{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<div class="table-page">
  <div class="table-content">
    <p class="create_btn"><a href="{% url 'menuitemcreate' %}">Add Menu item</a></p>
    <hr class="line">
    <h2>Available Menu Items</h2>
    <table class="table">
      <tr class="table-header">
        <tr class="">
          <th class="header-row-1" >Title</th>
          <th class="header-row-1">Price</th>
          <th class="header-row-2">Actions</th>
        </tr>
      </tr>

      {% for menuitem in object_list %}
        <tr>
          <td class="table-row-1"><a href="{% url 'menuitemdetails' menuitem.id %}">{{ menuitem.title | title }}</a></td>
          <td class="table-row-1">{{ menuitem.price}} </td>
          <td class="table-row-2">
            <a href="{% url 'menuitemupdate' menuitem.id %}" class="update btn">Update</a>
            <a href="{% url 'menuitemdelete' menuitem.id %}" class="delete btn">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

