{% extends 'inventory/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<div class="body">
  <p class="create_btn"><a href="{% url 'purchasecreate' %}">Add purchase</a></p>
  <h2>Purchases List</h2>
  <table class="table">
    <thead class="table-header">
      <tr class="table-header">
        <th>Purchase time</th>
        <th>Purchased item</th>
      </tr>
    </thead>
    <body">
      {% for purchase in object_list %}
        <tr>
          <td class="table-row-1">{{ purchase.timestamp }}</td>
          <td class="table-row-2">{{ purchase.menu_item.title | title}} </td>
        </tr>
      {% endfor %}
    </body>
  </table>
</div>
{% endblock %}